PACKAGE_NAME="{{ ena_module_name }}"
PACKAGE_VERSION="{{ ena_version }}"
AUTOINSTALL="yes"
REMAKE_INITRD="yes"
BUILT_MODULE_NAME[0]="{{ ena_module_name }}"
BUILT_MODULE_LOCATION="kernel/linux/ena"
DEST_MODULE_LOCATION[0]="/updates"
DEST_MODULE_NAME[0]="{{ ena_module_name }}"
CLEAN="cd kernel/linux/ena; make clean"
MAKE="cd kernel/linux/ena; make BUILD_KERNEL=\${kernelver}"
